<a href="product.html?product=off-white" class="product-card-link">
    <div class="product-card">
      <div class="product-image">
        <img src="images/s4.jpg" alt="off">
        <div class="discount-badge">-25%</div>
      </div>
      <div class="product-info">
        <h3 class="product-title">Кроссовки off-white</h3>
        <p class="product-price">
          <span class="old-price">160 BYN</span>
          <span class="new-price">120 BYN</span>
        </p>
        <span class="product-btn">Смотреть товар</span>
      </div>
    </div>
  </a>